* {
    text-align: center;
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: white;
}
body {
    margin-top: 120px;
}
img {
    border-radius: 50%;
    width: 240px;
    border: 5px solid black;
}
h1 {
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 0px;
}
p {
    font-size: 1.25rem;
    margin: 0px;
}
footer {
    font-size: 1rem;
    margin-top: 20px;
}
a:link, a:visited, a:hover, a:active {
    color: black;
}
a:link, a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    background-color: black;
    color: white;
}
a:active {
    text-decoration: underline;
}