* {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
body {
    padding-top: 120px;
}
img {
    border-radius: 50%;
    width: 240px;
    opacity: 0.75;
    border: 3px solid black;
}
h1 {
    background-color: white;
}
p01 {
    background-color: white;
}
p02 {
    background-color: white;
}
a:link, a:visited, a:hover, a:active {
    color: black;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    background-color: black;
    color: white;
}
a:active {
    text-decoration: underline;
}